@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

    .snipcss-Tcwcj {  
      color:rgb(255, 255, 255);
    }  
  * { 
      -webkit-box-sizing: inherit; 
      -moz-box-sizing: inherit; 
      box-sizing: inherit;
  } 
  
  * { 
      background-repeat: no-repeat; 
      padding: 0; 
      margin: 0; 
      background-repeat-x: no-repeat; 
      background-repeat-y: no-repeat; 
      padding-top: 0px; 
      padding-right: 0px; 
      padding-bottom: 0px; 
      padding-left: 0px; 
      margin-top: 0px; 
      margin-right: 0px; 
      margin-bottom: 0px; 
      margin-left: 0px;
  } 
  
  footer { 
      display: block;
  } 
  
  .app-footer { 
      position: absolute; 
      left: 0px; 
      right: 0px; 
      bottom: 0px; 
      height: auto; 
      z-index: 8;
  } 
  
  .application { 
      min-height: 100vh; 
      display: flex; 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
      -webkit-flex-direction: column; 
      -moz-box-orient: vertical; 
      -moz-box-direction: normal; 
      -ms-flex-direction: column; 
      flex-direction: column;
  } 
  
  .application { 
      position: relative;
  } 
  
  body { 
      max-width: 100%; 
      width: 100%; 
      font-family: "Chakra Petch", sans-serif;
  } 
  
  body { 
      min-height: 100vh; 
      display: flex; 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
      -webkit-flex-direction: column; 
      -moz-box-orient: vertical; 
      -moz-box-direction: normal; 
      -ms-flex-direction: column; 
      flex-direction: column;
  } 
  
  html { 
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      box-sizing: border-box; 
      -webkit-text-size-adjust: 100%; 
      text-size-adjust: 100%;
  } 
  
  html { 
      text-rendering: optimizelegibility; 
      font-size: 16px; 
      color: rgb(255, 255, 255); 
      background: #000; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale; 
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
      -webkit-overflow-scrolling: touch; 
      background-image: initial; 
      background-position-x: initial; 
      background-position-y: initial; 
      background-size: initial; 
      background-repeat-x: initial; 
      background-repeat-y: initial; 
      background-attachment: initial; 
      background-origin: initial; 
      background-clip: initial; 
      background-color: rgb(0, 0, 0);
  } 
  
  .the-footer { 
      width: 100%; 
      position: relative; 
      background-color: rgb(79, 245, 217); 
      overflow: hidden; 
      --s1: 18px; 
      --s2: 32px; 
      --p1: calc(50% - 450px); 
      --p2: calc(50% + 200px); 
      --p3: calc(50% + 650px); 
      padding-top: var(--s1); 
      -webkit-clip-path: polygon(0 var(--s1),var(--p1) var(--s1),-webkit-calc(var(--p1) + var(--s2)) -webkit-calc(var(--s1) + var(--s2)),-webkit-calc(var(--p2) - var(--s2)) -webkit-calc(var(--s1) + var(--s2)),var(--p2) var(--s1),-webkit-calc(var(--p3) - var(--s1)) var(--s1),var(--p3) 0,100% 0,100% 100%,0 100%); 
      clip-path: polygon(0 var(--s1),var(--p1) var(--s1),calc(var(--p1) + var(--s2)) calc(var(--s1) + var(--s2)),calc(var(--p2) - var(--s2)) calc(var(--s1) + var(--s2)),var(--p2) var(--s1),calc(var(--p3) - var(--s1)) var(--s1),var(--p3) 0,100% 0,100% 100%,0 100%); 
      overflow-x: hidden; 
      overflow-y: hidden;
  } 
  
  @media only screen and (max-width: 1489px){ 
    .the-footer { 
      --s1: 18px; 
      --s2: 32px; 
      --p1: calc(50% - 300px); 
      --p2: calc(50% + 150px); 
      --p3: calc(50% + 600px);
    } 
  }     
  
  *,:after,:before { 
      -webkit-box-sizing: inherit; 
      -moz-box-sizing: inherit; 
      box-sizing: inherit;
  } 
  
  :after,:before { 
      text-decoration: inherit; 
      vertical-align: inherit; 
      text-decoration-line: inherit; 
      text-decoration-thickness: inherit; 
      text-decoration-style: inherit; 
      text-decoration-color: inherit;
  } 
  
  :selection { 
      background-color: rgb(179, 212, 252); 
      color: rgb(0, 0, 0); 
      text-shadow: none;
  } 
  
  .container { 
      width: 100%; 
      padding-left: 5px; 
      padding-right: 5px; 
      margin: 0 auto; 
      margin-top: 0px; 
      margin-right: auto; 
      margin-bottom: 0px; 
      margin-left: auto;
  } 
  
  @media only screen and (min-width: 576px){ 
    .container { 
      max-width: 540px;
    } 
  }     
  
  @media only screen and (min-width: 768px){ 
    .container { 
      max-width: 680px;
    } 
  }     
  
  @media only screen and (min-width: 1230px){ 
    .container { 
      max-width: 1150px;
    } 
  }     
  
  .the-footer__content { 
      margin-top: 20px; 
      padding-bottom: 130px;
  } 
  
  .the-footer__bottom { 
      position: absolute; 
      left: 0px; 
      right: 0px; 
      bottom: 0px; 
      background-color: rgb(0, 0, 0); 
      padding-top: 20px; 
      --sl: 70px; 
      --sr: 50px; 
      --s1: 5px; 
      --s2: 20px; 
      --p1: calc(50% - 730px); 
      --p2: calc(50% - 650px); 
      --p3: calc(50% - 450px); 
      --p4: calc(50% - 350px); 
      --p5: calc(50% + 50px); 
      --p6: calc(50% + 400px); 
      --p7: calc(50% + 600px); 
      height: 100px; 
      -webkit-clip-path: polygon(0 var(--sl),-webkit-calc(var(--p1) - var(--sl)) var(--sl),var(--p1) 0,var(--p2) 0,-webkit-calc(var(--p2) + var(--s1)) var(--s1),-webkit-calc(var(--p3) - var(--s1)) var(--s1),var(--p3) 0,var(--p4) 0,-webkit-calc(var(--p4) + var(--s2)) var(--s2),var(--p5) var(--s2),-webkit-calc(var(--p5) + var(--s1)) -webkit-calc(var(--s2) + var(--s1)),-webkit-calc(var(--p6) - var(--s1)) -webkit-calc(var(--s2) + var(--s1)),var(--p6) var(--s2),var(--p7) var(--s2),-webkit-calc(var(--p7) + var(--sr)) -webkit-calc(var(--s2) + var(--sr)),100% -webkit-calc(var(--s2) + var(--sr)),100% 100%,0 100%); 
      clip-path: polygon(0 var(--sl),calc(var(--p1) - var(--sl)) var(--sl),var(--p1) 0,var(--p2) 0,calc(var(--p2) + var(--s1)) var(--s1),calc(var(--p3) - var(--s1)) var(--s1),var(--p3) 0,var(--p4) 0,calc(var(--p4) + var(--s2)) var(--s2),var(--p5) var(--s2),calc(var(--p5) + var(--s1)) calc(var(--s2) + var(--s1)),calc(var(--p6) - var(--s1)) calc(var(--s2) + var(--s1)),var(--p6) var(--s2),var(--p7) var(--s2),calc(var(--p7) + var(--sr)) calc(var(--s2) + var(--sr)),100% calc(var(--s2) + var(--sr)),100% 100%,0 100%);
  } 
  
  @media only screen and (max-width: 1489px){ 
    .the-footer__bottom { 
      padding-top: 20px; 
      --sl: 70px; 
      --sr: 50px; 
      --s1: 5px; 
      --s2: 20px; 
      --p1: calc(50% - 600px); 
      --p2: calc(50% - 530px); 
      --p3: calc(50% - 300px); 
      --p4: calc(50% - 200px); 
      --p5: calc(50% + 50px); 
      --p6: calc(50% + 400px); 
      --p7: calc(50% + 600px);
    } 
  }     
  
  .the-footer__row { 
      display: flex; 
      -webkit-flex-wrap: wrap; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -moz-box-align: center; 
      -ms-flex-align: center; 
      align-items: center;
  } 
  
  .the-footer__ornament { 
      --pos: 100px; 
      margin: 30px 0; 
      position: relative; 
      height: 0px; 
      width: calc(100% + var(--pos)); 
      margin-left: calc(0px - var(--pos)); 
      margin-top: 30px; 
      margin-right: 0px; 
      margin-bottom: 30px;
  } 
  
  .the-footer__ornament:after,.the-footer__ornament:before { 
      content: ""; 
      display: block; 
      position: absolute; 
      width: 51%; 
      padding-top: 100%; 
      -webkit-transform: skew(45deg); 
      -moz-transform: skew(45deg); 
      -ms-transform: skew(45deg); 
      -o-transform: skew(45deg); 
      transform: skew(45deg); 
      pointer-events: none;
  } 
  
  .the-footer__ornament:before { 
      left: 0px; 
      bottom: -1px; 
      border-left: 1px solid #000; 
      border-bottom: 1px solid #000; 
      -webkit-transform-origin: bottom right; 
      -moz-transform-origin: bottom right; 
      -ms-transform-origin: bottom right; 
      -o-transform-origin: bottom right; 
      transform-origin: right bottom; 
      border-left-width: 1px; 
      border-left-style: solid; 
      border-left-color: rgb(0, 0, 0); 
      border-bottom-width: 1px; 
      border-bottom-style: solid; 
      border-bottom-color: rgb(0, 0, 0);
  } 
  
  .the-footer__ornament:after { 
      position: absolute; 
      right: 0px; 
      top: 0px; 
      border-right: 1px solid #000; 
      border-top: 1px solid #000; 
      -webkit-transform-origin: top left; 
      -moz-transform-origin: top left; 
      -ms-transform-origin: top left; 
      -o-transform-origin: top left; 
      transform-origin: left top; 
      border-right-width: 1px; 
      border-right-style: solid; 
      border-right-color: rgb(0, 0, 0); 
      border-top-width: 1px; 
      border-top-style: solid; 
      border-top-color: rgb(0, 0, 0);
  } 
  
  .the-footer__logo { 
      -webkit-flex-shrink: 0; 
      -ms-flex-negative: 0; 
      flex-shrink: 0; 
      width: 219px;
  } 
  
  .spacer { 
      -webkit-box-flex: 1 !important; 
      -webkit-flex-grow: 1!important; 
      -moz-box-flex: 1!important; 
      -ms-flex-positive: 1!important; 
      flex-grow: 1 !important;
  } 
  
  .socials-btn-list { 
      display: flex; 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -moz-box-align: center; 
      -ms-flex-align: center; 
      align-items: center; 
      padding: 0 10px; 
      padding-top: 0px; 
      padding-right: 10px; 
      padding-bottom: 0px; 
      padding-left: 10px;
  } 
  
  button { 
      font: inherit; 
      font-style: inherit; 
      font-variant-ligatures: inherit; 
      font-variant-caps: inherit; 
      font-variant-numeric: inherit; 
      font-variant-east-asian: inherit; 
      font-weight: inherit; 
      font-stretch: inherit; 
      font-size: inherit; 
      line-height: inherit; 
      font-family: inherit;
  } 
  
  button { 
      overflow: visible; 
      overflow-x: visible; 
      overflow-y: visible;
  } 
  
  button { 
      text-transform: none;
  } 
  
  button { 
      background-color: transparent; 
      border-style: none; 
      color: inherit; 
      border-top-style: none; 
      border-right-style: none; 
      border-bottom-style: none; 
      border-left-style: none;
  } 
  
  [type="button"],button { 
      cursor: pointer;
  } 
  
  .the-footer__btn { 
      width: 200px;
  } 
  
  .polygon-btn { 
      -ms-flex-align: center; 
      -webkit-box-pack: center; 
      -webkit-justify-content: center; 
      -moz-box-pack: center; 
      -ms-flex-pack: center; 
      justify-content: center; 
      -webkit-box-flex: 0; 
      -webkit-flex: 0 0 auto; 
      -moz-box-flex: 0; 
      -ms-flex: 0 0 auto; 
      flex: 0 0 auto; 
      cursor: pointer; 
      overflow: visible; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      -webkit-transition: .3s cubic-bezier(.25,.8,.5,1); 
      -o-transition: .3s cubic-bezier(.25,.8,.5,1); 
      -moz-transition: .3s cubic-bezier(.25,.8,.5,1); 
      transition: .3s cubic-bezier(.25,.8,.5,1); 
      -webkit-transition-property: color,background-color,border-color,letter-spacing; 
      -o-transition-property: color,background-color,border-color,letter-spacing; 
      -moz-transition-property: color,background-color,border-color,letter-spacing; 
      transition-property: color, background-color, border-color, letter-spacing; 
      margin: 0; 
      padding: 0 16px; 
      font-weight: 700; 
      font-family: "Chakra Petch", sans-serif;
      text-transform: uppercase; 
      letter-spacing: 0.06em; 
      border: none; 
      -webkit-border-radius: 0; 
      -moz-border-radius: 0; 
      border-radius: 0; 
      text-decoration: none; 
      flex-grow: 0; 
      flex-shrink: 0; 
      flex-basis: auto; 
      overflow-x: visible; 
      overflow-y: visible; 
      transition-duration: 0.3s; 
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1); 
      transition-delay: 0s; 
      margin-top: 0px; 
      margin-right: 0px; 
      margin-bottom: 0px; 
      margin-left: 0px; 
      padding-top: 0px; 
      padding-right: 16px; 
      padding-bottom: 0px; 
      padding-left: 16px; 
      border-top-width: initial; 
      border-right-width: initial; 
      border-bottom-width: initial; 
      border-left-width: initial; 
      border-top-style: none; 
      border-right-style: none; 
      border-bottom-style: none; 
      border-left-style: none; 
      border-top-color: initial; 
      border-right-color: initial; 
      border-bottom-color: initial; 
      border-left-color: initial; 
      border-image-source: initial; 
      border-image-slice: initial; 
      border-image-width: initial; 
      border-image-outset: initial; 
      border-image-repeat: initial; 
      border-top-left-radius: 0px; 
      border-top-right-radius: 0px; 
      border-bottom-right-radius: 0px; 
      border-bottom-left-radius: 0px; 
      text-decoration-line: none; 
      text-decoration-thickness: initial; 
      text-decoration-style: initial; 
      text-decoration-color: initial;
  } 
  
  .polygon-btn { 
      display: inline-flex; 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -moz-box-align: center; 
      align-items: center; 
      position: relative;
  } 
  
  .polygon-btn_theme_second { 
      color: rgb(255, 255, 255);
  } 
  
  .polygon-btn { 
      height: 50px; 
      font-size: 18px; 
      padding: 0 14px; 
      --notch-val: 22px; 
      --ornament-val: 13px; 
      --ornament-diagonal-val: 18px; 
      padding-top: 0px; 
      padding-right: 14px; 
      padding-bottom: 0px; 
      padding-left: 14px;
  } 
  
  @media only screen and (max-width: 1489px){ 
    .polygon-btn { 
      height: 40px; 
      font-size: 14px; 
      --notch-val: 17px; 
      --ornament-val: 10px; 
      --ornament-diagonal-val: 13px;
    } 
  }     
  
  button,[type="button"]  { 
      -webkit-appearance: button; 
      appearance: button;
  } 
  
  .polygon-btn:hover { 
      text-decoration: none; 
      text-decoration-line: none; 
      text-decoration-thickness: initial; 
      text-decoration-style: initial; 
      text-decoration-color: initial;
  } 
  
  .w-100 { 
      width: 100%; 
      height: 0px;
  } 
  
  .the-footer__text { 
      position: relative; 
      width: 100%; 
      padding-top: 20px; 
      text-transform: uppercase; 
      font-size: 11px; 
      line-height: 24px; 
      color: rgb(0, 0, 0); 
      font-weight: 500;
  } 
  
  .the-footer__text:before { 
      right: 0px; 
      width: 520px; 
      -webkit-transform: skew(-45deg); 
      -moz-transform: skew(-45deg); 
      -ms-transform: skew(-45deg); 
      -o-transform: skew(-45deg); 
      transform: skew(-45deg); 
      -webkit-transform-origin: top; 
      -moz-transform-origin: top; 
      -ms-transform-origin: top; 
      -o-transform-origin: top; 
      transform-origin: center top; 
      background-image: repeating-linear-gradient(270deg, rgb(0, 0, 0), rgb(0, 0, 0) 5px, transparent 0px, transparent 85px);
  } 
  
  .the-footer__text:after,.the-footer__text:before { 
      content: ""; 
      position: absolute; 
      z-index: 1; 
      bottom: 0px; 
      height: 12px;
  } 
  
  .the-footer__text:after { 
      left: calc(100% + 100px); 
      width: 20px; 
      -webkit-transform: skew(-45deg); 
      -moz-transform: skew(-45deg); 
      -ms-transform: skew(-45deg); 
      -o-transform: skew(-45deg); 
      transform: skew(-45deg); 
      background-image: repeating-linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0) 5px, transparent 0px, transparent 9px, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 14px, transparent 0px, transparent 84px);
  } 
  
  .aspect-ratio-box { 
      -webkit-box-flex: 1; 
      -webkit-flex: 1 0 auto; 
      -moz-box-flex: 1; 
      -ms-flex: 1 0 auto; 
      flex: 1 0 auto; 
      overflow: hidden; 
      padding-bottom: 100%; 
      max-width: 100%; 
      position: relative; 
      flex-grow: 1; 
      flex-shrink: 0; 
      flex-basis: auto; 
      overflow-x: hidden; 
      overflow-y: hidden;
  } 
  
  a { 
      background-color: transparent; 
      -webkit-text-decoration-skip: objects;
  } 
  
  a { 
      display: inline-block; 
      text-decoration: none; 
      cursor: pointer; 
      color: rgb(85, 153, 255); 
      font-weight: 500; 
      text-decoration-line: none; 
      text-decoration-thickness: initial; 
      text-decoration-style: initial; 
      text-decoration-color: initial;
  } 
  
  .social-variable-discord { 
      --social-color: #586aea;
  } 
  
  .notch-btn { 
      display: inline-flex; 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -moz-box-align: center; 
      -ms-flex-align: center; 
      align-items: center; 
      -webkit-box-pack: center; 
      -webkit-justify-content: center; 
      -moz-box-pack: center; 
      -ms-flex-pack: center; 
      justify-content: center; 
      -webkit-box-flex: 0; 
      -webkit-flex: 0 0 auto; 
      -moz-box-flex: 0; 
      -ms-flex: 0 0 auto; 
      flex: 0 0 auto; 
      cursor: pointer; 
      position: relative; 
      overflow: visible; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      -webkit-transition: .3s cubic-bezier(.25,.8,.5,1); 
      -o-transition: .3s cubic-bezier(.25,.8,.5,1); 
      -moz-transition: .3s cubic-bezier(.25,.8,.5,1); 
      transition: .3s cubic-bezier(.25,.8,.5,1); 
      -webkit-transition-property: color,background-color,border-color,letter-spacing; 
      -o-transition-property: color,background-color,border-color,letter-spacing; 
      -moz-transition-property: color,background-color,border-color,letter-spacing; 
      transition-property: color, background-color, border-color, letter-spacing; 
      margin: 0; 
      font-weight: 700; 
      font-family: "Chakra Petch", sans-serif; 
      text-transform: uppercase; 
      letter-spacing: 0.2em; 
      border: none; 
      -webkit-border-radius: 0; 
      -moz-border-radius: 0; 
      border-radius: 0; 
      text-decoration: none; 
      --lb: 10px; 
      --rt: 10px; 
      --w: 1px; 
      --left-right: linear-gradient(90deg,#000 var(--w),transparent var(--w),transparent calc(100% - var(--w)),#000 calc(100% - var(--w))); 
      --top-bottom: linear-gradient(180deg,#000 var(--w),transparent var(--w),transparent calc(100% - var(--w)),#000 calc(100% - var(--w))); 
      --notch-top-left: linear-gradient(135deg,transparent var(--lt),#000 var(--lt),#000 calc(var(--lt) + var(--w)),transparent calc(var(--lt) + var(--w))) 100% 100%; 
      --notch-bottom-left: linear-gradient(45deg,transparent var(--lb),#000 var(--lb),#000 calc(var(--lb) + var(--w)),transparent calc(var(--lb) + var(--w))) 100% 100%; 
      --notch-top-right: linear-gradient(-135deg,transparent var(--rt),#000 var(--rt),#000 calc(var(--rt) + var(--w)),transparent calc(var(--rt) + var(--w))) 100% 100%; 
      --notch-bottom-right: linear-gradient(-45deg,transparent var(--rb),#000 var(--rb),#000 calc(var(--rb) + var(--w)),transparent calc(var(--rb) + var(--w))) 100% 100%; 
      --base: linear-gradient(135deg,transparent var(--lt),#000 var(--lt),#000 calc(100% - var(--rb)),transparent calc(100% - var(--rb))) 100% 100%; 
      --base2: linear-gradient(-135deg,transparent var(--rt),#000 var(--rt),#000 calc(100% - var(--lb)),transparent calc(100% - var(--lb))) 100% 100%; 
      flex-grow: 0; 
      flex-shrink: 0; 
      flex-basis: auto; 
      overflow-x: visible; 
      overflow-y: visible; 
      transition-duration: 0.3s; 
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1); 
      transition-delay: 0s; 
      margin-top: 0px; 
      margin-right: 0px; 
      margin-bottom: 0px; 
      margin-left: 0px; 
      border-top-width: initial; 
      border-right-width: initial; 
      border-bottom-width: initial; 
      border-left-width: initial; 
      border-top-style: none; 
      border-right-style: none; 
      border-bottom-style: none; 
      border-left-style: none; 
      border-top-color: initial; 
      border-right-color: initial; 
      border-bottom-color: initial; 
      border-left-color: initial; 
      border-image-source: initial; 
      border-image-slice: initial; 
      border-image-width: initial; 
      border-image-outset: initial; 
      border-image-repeat: initial; 
      border-top-left-radius: 0px; 
      border-top-right-radius: 0px; 
      border-bottom-right-radius: 0px; 
      border-bottom-left-radius: 0px; 
      text-decoration-line: none; 
      text-decoration-thickness: initial; 
      text-decoration-style: initial; 
      text-decoration-color: initial;
  } 
  
  .notch-btn_theme_first { 
      color: rgb(0, 0, 0);
  } 
  
  .notch-btn { 
      height: 60px; 
      font-size: 16px; 
      padding: 0 16px; 
      --lt: 10px; 
      --rb: 10px; 
      padding-top: 0px; 
      padding-right: 16px; 
      padding-bottom: 0px; 
      padding-left: 16px;
  } 
  
  .socials-btn-list .socials-btn  { 
      margin: 0 5px; 
      -webkit-flex-shrink: 0; 
      -ms-flex-negative: 0; 
      flex-shrink: 0; 
      width: 35px; 
      height: 35px; 
      padding: 0; 
      color: rgb(255, 255, 255); 
      --w: 3px; 
      --lb: 6px; 
      --notch-lt: 0px; 
      --notch-rt: 0px; 
      --notch-rb: 0px; 
      --notch-lb: 8px; 
      -webkit-clip-path: polygon(0 var(--notch-lt),var(--notch-lt) 0,-webkit-calc(100% - var(--notch-rt)) 0,100% var(--notch-rt),100% -webkit-calc(100% - var(--notch-rb)),-webkit-calc(100% - var(--notch-rb)) 100%,var(--notch-lb) 100%,0 -webkit-calc(100% - var(--notch-lb))); 
      clip-path: polygon(0 var(--notch-lt),var(--notch-lt) 0,calc(100% - var(--notch-rt)) 0,100% var(--notch-rt),100% calc(100% - var(--notch-rb)),calc(100% - var(--notch-rb)) 100%,var(--notch-lb) 100%,0 calc(100% - var(--notch-lb))); 
      margin-top: 0px; 
      margin-right: 5px; 
      margin-bottom: 0px; 
      margin-left: 5px; 
      padding-top: 0px; 
      padding-right: 0px; 
      padding-bottom: 0px; 
      padding-left: 0px;
  } 
  
  .notch-btn:not(.notch-btn_notch_lt) { 
      --lt: 0px;
  } 
  
  .notch-btn:not(.notch-btn_notch_rt) { 
      --rt: 0px;
  } 
  
  .notch-btn:not(.notch-btn_notch_rb) { 
      --rb: 0px;
  } 
  
  .socials-btn-list.dark .socials-btn  { 
      color: rgb(0, 0, 0);
  } 
  
  .notch-btn:before { 
      content: ""; 
      position: absolute; 
      left: 0px; 
      top: 0px; 
      right: 0px; 
      bottom: 0px; 
      -webkit-transition: background-color .2s cubic-bezier(.4,0,.6,1); 
      -o-transition: background-color .2s cubic-bezier(.4,0,.6,1); 
      -moz-transition: background-color .2s cubic-bezier(.4,0,.6,1); 
      transition: background-color .2s cubic-bezier(.4,0,.6,1); 
      --notch-lt: 10px; 
      --notch-rt: 10px; 
      --notch-rb: 10px; 
      --notch-lb: 10px; 
      -webkit-clip-path: polygon(0 var(--notch-lt),var(--notch-lt) 0,-webkit-calc(100% - var(--notch-rt)) 0,100% var(--notch-rt),100% -webkit-calc(100% - var(--notch-rb)),-webkit-calc(100% - var(--notch-rb)) 100%,var(--notch-lb) 100%,0 -webkit-calc(100% - var(--notch-lb))); 
      clip-path: polygon(0 var(--notch-lt),var(--notch-lt) 0,calc(100% - var(--notch-rt)) 0,100% var(--notch-rt),100% calc(100% - var(--notch-rb)),calc(100% - var(--notch-rb)) 100%,var(--notch-lb) 100%,0 calc(100% - var(--notch-lb))); 
      -webkit-filter: none; 
      filter: none; 
      transition-duration: 0.2s; 
      transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1); 
      transition-delay: 0s; 
      transition-property: background-color;
  } 
  
  .notch-btn_theme_first:before { 
      background-color: rgb(255, 255, 255);
  } 
  
  .notch-btn:before { 
      --notch-lt: 14px; 
      --notch-rb: 14px;
  } 
  
  .socials-btn-list .socials-btn:before  { 
      background-color: transparent;
  } 
  
  .notch-btn:not(.notch-btn_notch_lt)::before { 
      --notch-lt: 0px;
  } 
  
  .notch-btn:not(.notch-btn_notch_rt)::before { 
      --notch-rt: 0px;
  } 
  
  .notch-btn:not(.notch-btn_notch_rb)::before { 
      --notch-rb: 0px;
  } 
  
  .socials-btn-list.dark .socials-btn:before  { 
      background-color: transparent;
  } 
  
  a:active,a:hover { 
      outline-width: 0px;
  } 
  
  a:hover { 
      text-decoration: underline; 
      text-decoration-line: underline; 
      text-decoration-thickness: initial; 
      text-decoration-style: initial; 
      text-decoration-color: initial;
  } 
  
  .notch-btn:hover { 
      text-decoration: none; 
      text-decoration-line: none; 
      text-decoration-thickness: initial; 
      text-decoration-style: initial; 
      text-decoration-color: initial;
  } 
  
  .notch-btn_theme_first:hover { 
      color: rgb(0, 0, 0);
  } 
  
  .socials-btn:hover  { 
      color: rgb(255, 255, 255);
  } 
  
  .notch-btn_theme_first:hover:before { 
      background-color: rgb(255, 255, 255);
  } 
  
  .socials-btn:hover:before  { 
      background-color: var(--social-color);
  } 
  
  .socials-btn:hover:before  { 
      background-color: rgb(0, 0, 0);
  } 
  
  .social-variable-twitter { 
      --social-color: #2faef8;
  } 
  
  .social-variable-telegram { 
      --social-color: #36ade1;
  } 
  
  .social-variable-medium { 
      --social-color: #4ff5d9;
  } 
  
  .polygon-btn__content { 
      display: inline-flex; 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -moz-box-align: center; 
      align-items: center; 
      position: relative;
  } 
  
  .polygon-btn__content { 
      -ms-flex-align: center; 
      text-align: center; 
      vertical-align: middle; 
      line-height: 20px; 
      -webkit-border-radius: inherit; 
      -moz-border-radius: inherit; 
      border-radius: inherit; 
      height: 100%; 
      z-index: 3; 
      border-top-left-radius: inherit; 
      border-top-right-radius: inherit; 
      border-bottom-right-radius: inherit; 
      border-bottom-left-radius: inherit;
  } 
  
  .the-footer__btn .polygon-btn__content  { 
      width: 100%;
  } 
  
  .polygon-btn__background { 
      position: absolute; 
      left: 0px; 
      top: 0px; 
      right: 0px; 
      bottom: 0px; 
      pointer-events: none; 
      -webkit-transition: background-color .3s cubic-bezier(.25,.8,.5,1); 
      -o-transition: background-color .3s cubic-bezier(.25,.8,.5,1); 
      -moz-transition: background-color .3s cubic-bezier(.25,.8,.5,1); 
      transition: background-color .3s cubic-bezier(.25,.8,.5,1); 
      -webkit-clip-path: polygon(0 7px,7px 0,-webkit-calc(100% - var(--notch-val)) 0,100% var(--notch-val),100% -webkit-calc(100% - 7px),-webkit-calc(100% - 7px) 100%,50% 100%,-webkit-calc(50% - 3px) -webkit-calc(100% - 3px),var(--notch-val) -webkit-calc(100% - 3px),0 -webkit-calc(100% - var(--notch-val) - 3px)); 
      clip-path: polygon(0 7px,7px 0,calc(100% - var(--notch-val)) 0,100% var(--notch-val),100% calc(100% - 7px),calc(100% - 7px) 100%,50% 100%,calc(50% - 3px) calc(100% - 3px),var(--notch-val) calc(100% - 3px),0 calc(100% - var(--notch-val) - 3px)); 
      transition-duration: 0.3s; 
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1); 
      transition-delay: 0s; 
      transition-property: background-color;
  } 
  
  .polygon-btn_theme_second .polygon-btn__background  { 
      background-color: rgb(0, 0, 0);
  } 
  
  .polygon-btn__ornament { 
      position: absolute; 
      top: 0px; 
      right: 0px; 
      width: var(--ornament-val); 
      height: var(--ornament-val); 
      border-top: 1px solid; 
      border-right: 1px solid; 
      -webkit-transition: border-color .3s cubic-bezier(.25,.8,.5,1); 
      -o-transition: border-color .3s cubic-bezier(.25,.8,.5,1); 
      -moz-transition: border-color .3s cubic-bezier(.25,.8,.5,1); 
      transition: border-color .3s cubic-bezier(.25,.8,.5,1); 
      border-top-width: 1px; 
      border-top-style: solid; 
      border-top-color: initial; 
      border-right-width: 1px; 
      border-right-style: solid; 
      border-right-color: initial; 
      transition-duration: 0.3s; 
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1); 
      transition-delay: 0s; 
      transition-property: border-color;
  } 
  
  .polygon-btn_theme_second .polygon-btn__ornament  { 
      border-color: #000; 
      border-top-color: rgb(0, 0, 0); 
      border-right-color: rgb(0, 0, 0); 
      border-bottom-color: rgb(0, 0, 0); 
      border-left-color: rgb(0, 0, 0);
  } 
  
  .polygon-btn__ornament:after { 
      content: ""; 
      position: absolute; 
      display: block; 
      -webkit-transform: rotate(45deg); 
      -moz-transform: rotate(45deg); 
      -ms-transform: rotate(45deg); 
      -o-transform: rotate(45deg); 
      transform: rotate(45deg); 
      top: -1px; 
      left: 0px; 
      width: var(--ornament-diagonal-val); 
      height: 1px; 
      -webkit-transform-origin: left; 
      -moz-transform-origin: left; 
      -ms-transform-origin: left; 
      -o-transform-origin: left; 
      transform-origin: left center; 
      -webkit-transition: background-color .3s cubic-bezier(.25,.8,.5,1); 
      -o-transition: background-color .3s cubic-bezier(.25,.8,.5,1); 
      -moz-transition: background-color .3s cubic-bezier(.25,.8,.5,1); 
      transition: background-color .3s cubic-bezier(.25,.8,.5,1); 
      transition-duration: 0.3s; 
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1); 
      transition-delay: 0s; 
      transition-property: background-color;
  } 
  
  .polygon-btn_theme_second .polygon-btn__ornament:after  { 
      background-color: rgb(0, 0, 0);
  } 
  
  b { 
      font-weight: bolder;
  } 
  
  .the-footer__text b  { 
      font-size: 13px; 
      font-weight: 700;
  } 
  
  .aspect-ratio-box__content { 
      position: absolute; 
      display: flex; 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -moz-box-align: center; 
      -ms-flex-align: center; 
      align-items: center; 
      -webkit-box-pack: center; 
      -webkit-justify-content: center; 
      -moz-box-pack: center; 
      -ms-flex-pack: center; 
      justify-content: center; 
      top: 0px; 
      left: 0px; 
      width: 100%; 
      height: 100%; 
      -webkit-border-radius: inherit; 
      -moz-border-radius: inherit; 
      border-radius: inherit; 
      border-top-left-radius: inherit; 
      border-top-right-radius: inherit; 
      border-bottom-right-radius: inherit; 
      border-bottom-left-radius: inherit;
  } 
  
  .notch-btn__content { 
      position: relative; 
      display: inline-flex; 
      text-align: center; 
      vertical-align: middle; 
      line-height: 20px; 
      -webkit-border-radius: inherit; 
      -moz-border-radius: inherit; 
      border-radius: inherit; 
      z-index: 3; 
      border-top-left-radius: inherit; 
      border-top-right-radius: inherit; 
      border-bottom-right-radius: inherit; 
      border-bottom-left-radius: inherit;
  } 
  
  .notch-btn__content { 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -moz-box-align: center; 
      -ms-flex-align: center; 
      align-items: center; 
      height: 100%;
  } 
  
  .socials-btn-list .socials-btn .notch-btn__content  { 
      width: 100%; 
      -webkit-box-pack: center; 
      -webkit-justify-content: center; 
      -moz-box-pack: center; 
      -ms-flex-pack: center; 
      justify-content: center;
  } 
  
  .notch-btn__border { 
      pointer-events: none; 
      display: none;
  } 
  
  .notch-btn__border { 
      position: absolute; 
      left: 0px; 
      top: 0px; 
      right: 0px; 
      bottom: 0px;
  } 
  
  .socials-btn-list .socials-btn .notch-btn__border  { 
      display: block;
  } 
  
  .notch-btn__border,.notch-btn__border:after { 
      position: absolute; 
      left: 0px; 
      top: 0px; 
      right: 0px; 
      bottom: 0px;
  } 
  
  .notch-btn__border:after { 
      content: ""; 
      -webkit-mask: var(--base),var(--base2),var(--notch-bottom-left),var(--notch-top-right),var(--notch-top-left),var(--notch-bottom-right),var(--left-right),var(--top-bottom); 
      mask: var(--base),var(--base2),var(--notch-bottom-left),var(--notch-top-right),var(--notch-top-left),var(--notch-bottom-right),var(--left-right),var(--top-bottom); 
      -webkit-mask-composite: source-in, source-in, source-over, source-over, source-over, source-over, source-over, source-over, xor; 
      mask-composite: intersect,intersect,add,add,add,add,add,add;
  } 
  
  .notch-btn__background-border:after ,.notch-btn_theme_first .notch-btn__border:after  { 
      background-color: transparent;
  } 
  
  .socials-btn-list .socials-btn .notch-btn__border:after  { 
      background-color: var(--social-color);
  } 
  
  .socials-btn-list.dark .socials-btn .notch-btn__border:after  { 
      background-color: rgb(0, 0, 0);
  } 
  
  .the-footer__btn-text { 
      -webkit-transition: .3s cubic-bezier(.25,.8,.5,1); 
      -o-transition: .3s cubic-bezier(.25,.8,.5,1); 
      -moz-transition: .3s cubic-bezier(.25,.8,.5,1); 
      transition: .3s cubic-bezier(.25,.8,.5,1); 
      -webkit-transition-property: opacity transform; 
      -o-transition-property: opacity transform; 
      -moz-transition-property: opacity transform; 
      transition-property: all; 
      position: absolute; 
      left: 50%; 
      top: 50%; 
      width: 100%; 
      transition-duration: 0.3s; 
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1); 
      transition-delay: 0s;
  } 
  
  .the-footer__btn-text_play { 
      opacity: 1; 
      -webkit-transform: translate(-50%,-50%); 
      -moz-transform: translate(-50%,-50%); 
      -ms-transform: translate(-50%,-50%); 
      -o-transform: translate(-50%,-50%); 
      transform: translate(-50%, -50%);
  } 
  
  img { 
      border-style: none; 
      border-top-style: none; 
      border-right-style: none; 
      border-bottom-style: none; 
      border-left-style: none;
  } 
  
  .the-footer__logo-img { 
      display: block; 
      width: 100%; 
      height: 100%;
  } 
  
  svg { 
      vertical-align: middle;
  } 
  
  svg:not(:root) { 
      overflow: hidden; 
      overflow-x: hidden; 
      overflow-y: hidden;
  } 
  
  .socials-btn-list .socials-btn__icon  { 
      width: 50%; 
      height: 50%;
  } 
  
  @media only screen and (max-width: 1229px){ 
    .the-footer { 
      --s1: 10px; 
      --s2: 20px; 
      --p1: calc(50% - 200px); 
      --p2: calc(50% + 200px);
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer { 
      --s2: 15px; 
      --p1: 20%; 
      --p2: 80%;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .container { 
      padding-left: 10px; 
      padding-right: 10px;
    } 
  }     
  
  @media only screen and (max-width: 1229px){ 
    .the-footer__content { 
      margin-top: 30px;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__content { 
      padding-bottom: 150px;
    } 
  }     
  
  @media only screen and (max-width: 1229px){ 
    .the-footer__bottom { 
      padding-top: 20px; 
      --sl: 60px; 
      --sr: 40px; 
      --s1: 5px; 
      --s2: 20px; 
      --p1: calc(50% - 380px); 
      --p2: calc(50% - 280px); 
      --p3: calc(50% - 100px); 
      --p4: 50%; 
      --p5: calc(50% + 100px); 
      --p6: calc(50% + 250px); 
      --p7: calc(50% + 330px);
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__bottom { 
      padding-top: 30px; 
      --sl: 0px; 
      --sr: 0px; 
      --s1: 4px; 
      --s2: 15px;
    } 
  }     
  
  @media only screen and (max-width: 575px){ 
    .the-footer__bottom { 
      --s1: 0px;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__row { 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
      -webkit-flex-direction: column; 
      -moz-box-orient: vertical; 
      -moz-box-direction: normal; 
      -ms-flex-direction: column; 
      flex-direction: column;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__ornament { 
      display: none;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__logo { 
      margin-bottom: 15px; 
      -webkit-box-ordinal-group: 2; 
      -webkit-order: 1; 
      -moz-box-ordinal-group: 2; 
      -ms-flex-order: 1; 
      order: 1;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer .spacer  { 
      display: none;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__socials { 
      -webkit-box-ordinal-group: 5; 
      -webkit-order: 4; 
      -moz-box-ordinal-group: 5; 
      -ms-flex-order: 4; 
      order: 4; 
      margin-top: 15px;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__btn { 
      -webkit-box-ordinal-group: 4; 
      -webkit-order: 3; 
      -moz-box-ordinal-group: 4; 
      -ms-flex-order: 3; 
      order: 3;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .polygon-btn { 
      font-size: 16px;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer .w-100  { 
      display: none;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__text { 
      -webkit-box-ordinal-group: 3; 
      -webkit-order: 2; 
      -moz-box-ordinal-group: 3; 
      -ms-flex-order: 2; 
      order: 2; 
      text-align: center; 
      padding-top: 0px; 
      margin-bottom: 15px;
    } 
  }     
  
  @media only screen and (max-width: 1229px){ 
    .the-footer__text:before { 
      bottom: 8px; 
      width: 400px;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__text:before { 
      bottom: -135px; 
      width: 100%;
    } 
  }     
  
  @media only screen and (max-width: 1229px){ 
    .the-footer__text:after { 
      bottom: 8px;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .the-footer__text:after { 
      display: none;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .notch-btn { 
      font-size: 16px;
    } 
  }     
  
  @media only screen and (max-width: 767px){ 
    .notch-btn { 
      height: 40px; 
      min-width: 40px; 
      font-size: 16px; 
      padding: 0 10px; 
      padding-top: 0px; 
      padding-right: 10px; 
      padding-bottom: 0px; 
      padding-left: 10px;
    } 
  }     
  
  
  